HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/.env
/*/.env
/**/.env

### Secret Files ###
secretkey.properties
*/secretkey.properties
**/secretkey.properties
stock-service.tar.gz
stock-service/src/test/java/com/kokimstocktrading/CorrectBackpressureTest.java
stock-service/src/test/java/com/kokimstocktrading/ReactiveSinksFluxTest.java
stock-service/src/test/java/com/kokimstocktrading/RealBackpressureTest.java
qodana.yaml
stock-service/src/test/java/com/kokimstocktrading/ReactorFluxIntervalTest.java
